@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;700&display=swap');

@keyframes floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 15px); }
    100%   { transform: translate(0, -0px); }   
}

*{
    margin: 0;
    padding: 0;
}
html{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: #edfdfb;
}
nav{
    display: flex;
    justify-content: space-around;
    padding: 0.7em 0;
}
h1{
    font-size: 2em;
}
h2{
    font-size: 3em;
}
a{
    text-decoration: none;
    color:black;
}
#navbar{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    letter-spacing: 3.5px;
}
.nav-items{
    letter-spacing: 1.5px;
    cursor: pointer;
    border: none;
    background-color: transparent;
    font-family: 'Poppins';
    font-size: 1em;
}

.color{
    color: #ff0022;
}
.home{
    height: 90vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.left-home{
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;  
}
/* :is(.left-home) :is(h2, p) {
} */
.left-home p{
    width: 80%;
    text-align: center;
}
.order-btn{
    color: #ff0022;
    font-weight: 700;
    font-family: 'Poppins';
    border: 1px solid rgb(138, 138, 138);
    padding: 1em 2em;
    background-color: transparent;
    cursor: pointer;
}
.order-btn:hover{
    transition: 1s;
    box-shadow: 5px 10px 10px gray;
}
/* right of home section */
.right-home{
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.food-image{
    width: 70%;
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out; 
}

footer{
    padding: 1em 0;
    display: flex;
}
footer> p{
    margin: 0 auto;
    letter-spacing: 2px;
}

/* Home section end */

/* Menu section */
/* .menu-btn{
    display: flex;
    justify-content: center;
    
}
.menu-btn button{
    text-transform: capitalize;
    margin: 2em 1em;
    padding: 0.5em 2em;
    font-weight: 700;
    color: #ff4f66;
    border: 1px solid gray;
    border-radius: 0.5em;
    cursor: pointer;
    background-color: transparent;
    transition: 0.5s;
}
.menu-btn button:hover{
    transition: 1s ;
    box-shadow: 5px 5px 10px gray;
} */
.menu{
    display: none;
    border: 1px solid black;
}
.menu-container{
    padding: 2em 0;
    display: grid;
    place-content: center;
    grid-template-columns: 40% 40%;
    grid-gap: 2em 2em;
}
.menu-items{
    width: 100%;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-transform: capitalize;
    border: 1px dotted black;
}
:is(.item-detail) :is(h3, p, button ){
    justify-content: flex-start;
    margin-left: 20px;
    margin-bottom: 10px;
}
.item-detail > button{
    padding: 5px 10px;
    color: #ff4f66;    
}
.menu-items img{
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 1em;
}

.active{
    display: block;
}
.inactive{
    display: none;
}

.pagination{
    margin: 10px 0;
    width: 100%;
    color: red;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
}
.pagination button{
    cursor: pointer;
    background-color: transparent;
    padding: 5px 10px;
    /* margin: 10px 0; */
    margin: 0 1em;
    transition: 1s;
}
.pagination button:hover{
    transition: 1s;
    box-shadow: 5px 5px 10px black;
}

/* Mobile Phones */
@media (max-width:1050px) {
    h1{
        font-size: 1.3em;
    }
    h2{
        font-size: 1.7em;
    }
    .home{
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }
    .active{
        display: block;
    }
    .inactive{
        display: none;
    }
    .menu-container{
        width: 80%;
        margin: 0 auto;
        border: 1px solid black;
        display: grid;
        grid-template-columns:  1fr;
    }
    .menu-items{
        border: 1px dotted black;
        width: 90%;
        margin: 0 auto;
    }
    .menu-items{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        text-align: center;
    }
    .menu-items img{
        max-width: 100%;
        height: 100px;
        border-radius: 1em;
        object-fit: contain;
    }

    
}

